footer {
  width: 100%;
  background-color: #8cadae4d;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.footer-text {
  margin: 4px;
}

.wip-icon {
  height: 26px;
}
